
div#flex-wrapper{
	display: flex;
	width: 100vw;
	height: 100vh;
	background: var(--flex-wrapper-background);
}

div#flex-wrapper div#header-body-container{
	width: 100%;
	height: 100%;
}

header{
	text-align: center;
}

header img#burger-button{
	float: left;
	height: 45px;
	width: 45px;
	padding: 15px;
	cursor: pointer;
	transition: var(--transition);
}

header img#burger-button:hover{
	background: var(--light-blue);
}

header img#burger-button:active{
	background: var(--dark-blue);
}

header a#logout-button{
	background: var(--logout-button);
	color: var(--logout-button-text);
	float: right;
	margin: 15px;
	padding: 0 10px;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	cursor: pointer;
	transition: var(--transition);
	border-radius: 10px;
}

header a#logout-button:hover{
	background: var(--logout-button-hover);
	color: var(--logout-button-text-hover);
}

header a#logout-button:active{
	background: var(--logout-button-active);
	color: var(--logout-button-text-active);
}


ul#navpane{
	background: var(--accent);
	width: 30vw;
	margin: 0;
}

ul#navpane li, a#logout-button-li{
	background: var(--button);
	color: var(--button-text);
	font-size: 1.5em;
	list-style: none;
	padding: 1% 3%;
	cursor: pointer;
	transition: var(--transition);
}

ul#navpane li:hover{
	color: var(--button-text-hover);
	background: var(--button-hover);
}

ul#navpane li:active{
	color: var(--button-text-active);
	background: var(--button-active);
}

ul#navpane a#logout-button-li{
	display: block;
	background: var(--logout-button);
	color: var(--logout-button-text);
}

ul#navpane a#logout-button-li:hover{
	background: var(--logout-button-hover);
	color: var(--logout-button-text-hover);
}

ul#navpane a#logout-button-li:active{
	background: var(--logout-button-active);
	color: var(--logout-button-text-active);
}



div#navWrapper{
	width: 100%;
}

div#moduleContainer{
	border: 1px solid var(--border);
	margin-left: 0.5%;
	margin-right: 0.5%;
	clear: both;
	border-radius: 5px;
	visibility: hidden;
}