
header{
	text-align: center;
}

header ul#headerNav{
	background: var(--accent);
	text-align: center;
	margin: auto;
}

header ul#headerNav li{
	background: var(--button);
	color: var(--button-text);
	display: inline;
	line-height: 3%;
	list-style: none;
	padding: 1% 3%;
	text-align: center;
	cursor: pointer;
	border-radius: 15px;
	transition: var(--transition);

}

header ul#headerNav li:hover{
	color: var(--button-text-hover);
	background: var(--button-hover);
}

header ul#headerNav li:active{
	color: var(--button-text-active);
	background: var(--button-active);
}

div#navWrapper{
	width: 100%;
}

div#moduleContainer{
	border: 1px solid var(--border);
	margin-left: 0.5%;
	margin-right: 0.5%;
	clear: both;
	border-radius: 5px;
	visibility: hidden;
}