
div.moduleWrapper div#AssocActivities p#refresh_assoc_activities{
	background: var(--button);
	color: var(--button-text);
	border-radius: 15px;
	padding: 1%;
	text-align: center;
	cursor: pointer;
	transition: var(--transition);
}

div.moduleWrapper div#AssocActivities p#refresh_assoc_activities:hover{
	background: var(--button-hover);
	color: var(--button-text-hover);
}

div.moduleWrapper div#AssocActivities p#refresh_assoc_activities:active{
	background: var(--button-active);
	color: var(--button-text-active);
}

div.moduleWrapper div#AssocActivities div.aff{
	border: 1px solid var(--border);
	border-radius: 12px;
	padding: 1%;
	margin: 1%;
}

div.moduleWrapper div#AssocActivities div.aff div.manage_button, div.more_info_button, div.progress_checklist_button{
	color: var(--button-text);
	background: var(--button);
	float: right;
	width: 10%;
	padding: 1%;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	transition: var(--transition);
	margin-left: 1%;
}

div.moduleWrapper div#AssocActivities div.aff div.manage_button:hover, div.more_info_button:hover, div.progress_checklist_button:hover{
	color: var(--button-text);
	background: var(--button-hover);
}

div.moduleWrapper div#AssocActivities div.aff div.manage_button:active, div.more_info_button:active, div.progress_checklist_button:active{
	color: var(--button-text);
	background: var(--button-active);
}

div.moduleWrapper div#AssocActivities div.aff div.sub_module_container{
	width: 97.5%;
	border: 1px solid var(--border);
	border-radius: 10px;
	margin-top: 1%;
	padding: 1%;
	/*problem*/
	/*display: none;*/
}


div.moduleWrapper .warning_unapproved{
	background: var(--warning-unapproved);
	color: white;
	padding: 1%;
	border-radius: 10px;
	display: inline-block;
	margin: 1%;
}
